{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About Us - UrbanPlates</title>

        {% comment %}
        <link rel="stylesheet" href="{% static 'static/css/about.css' %}" />
        {% endcomment %}

        <link rel="stylesheet" href="/static/css/about.css" />
    </head>
    <body>
        <header>
            <h1>UrbanPlates</h1>
            <p>Delicious Food, Memorable Moments</p>
        </header>

        <section>
            <img src="{% static 'star.png' %}" alt="Restaurant Interior" />
            <h2>About Us</h2>
            <p>
                Welcome to UrbanPlates, where we are dedicated to providing you
                with a delightful dining experience. Our passion for delicious
                food, excellent service, and creating memorable moments for our
                guests is what sets us apart.
            </p>

            <p>
                At UrbanPlates, we source the finest ingredients to create
                mouthwatering dishes that cater to diverse tastes. Our chefs are
                skilled in the art of culinary excellence, ensuring every bite
                is a journey of flavors.
            </p>

            <p>
                Whether you're here for a casual meal with friends, a romantic
                dinner, or a special celebration, we strive to make every visit
                special. Our warm and inviting ambiance, coupled with attentive
                staff, adds to the overall charm of the dining experience.
            </p>

            <p>
                Thank you for choosing UrbanPlates. We look forward to serving
                you and creating lasting memories through our love for food and
                hospitality.
            </p>
        </section>

        <footer>&copy; 2023 UrbanPlates. All rights reserved.</footer>
    </body>
</html>
