{% load static %} {% include "base.html" %} {% block content %}
<div>
    <div>
        <div class="max-w-md mx-auto">
            <img src="{% static 'image.png' %}" alt="My image" />
            <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
            <p class="mb-5 color-red">
                Provident cupiditate voluptatem et in. Quaerat fugiat ut
                assumenda excepturi exercitationem quasi. In deleniti eaque aut
                repudiandae et a id nisi.
            </p>
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
</div>
{% endblock content %}
